<div class="accordion accordion-flush {% if include.item.subcapitulo == true %} ms-3 {% endif %}">

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{item.indice}}" aria-expanded="false" aria-controls="flush-collapseOne">
                <b>{{include.item.indice}} - {{include.item.title}}</b>
            </button>
        </h2>
        <div id="{{include.item.indice}}" class="accordion-collapse collapse">
            <div class="accordion-body">
                {{include.item.content}}
            </div>
        </div>
    </div>

</div>