<div class="accordion accordion-flush {% if item.subcapitulo == true %} ms-5 {% endif %}">
     
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{item.indice}}" aria-expanded="false" aria-controls="flush-collapseOne">
                {{item.indice}} - {{item.title}}
            </button>
        </h2>
        <div id="{{item.indice}}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <span> {{item.content}} </span>
            </div>
        </div>
    </div>
 
</div>