<!-- <nav>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url==item.link %} class="current" {% endif %}>
        {{ item.name }}
    </a>
    {% endfor %}

</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" >
            <img src="/assets/images/bem-te-vi-logo-temporaria.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            QA Bentevi
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav ">

                {% for item in site.data.navigation %}
                <li class="nav-item">

                    <a  href="{{item.link}}" aria-current="page" 
                        {% if page.url==item.link %} 
                            class="nav-link active"
                        {% else %} 
                            class="nav-link" 
                        {% endif %}>
                        {{item.name}}
                    </a>
                </li>
                {% endfor %}

                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item active" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </div>
                </li>

            </ul>
        </div>
    </div>
</nav>