<nav class="navbar fixed-bottom bg-body-tertiary" id="rodape">
    <div class="container justify-content-center">
        <footer>
            <ul class="nav justify-content-center border-bottom mb-3">
                {% for contato in site.data.contatos reversed %}

                <li class="nav-item">
                    <a href="{{contato.link}}" class="nav-link px-2 text-muted">
                        {% include {{ contato.svgPath }} %}
                    </a>
                </li>
                
                {% endfor %}
            </ul>
            <p class="text-center text-muted">© 2024 QA Bentevi por Ana Rocha. Todos os direitos reservados </p>
        </footer>
    </div>
</nav>