:root {
	--rodape-height: 6em;
}

#navbar-top {
	transition: top 0.3s;
}

#rodape {
	height: fit-content;
	margin: var(--rodape-height) 0.5em 0.5em 0.5em;
}

.conteudo {
	margin-bottom: calc(var(--rodape-height) + 2em);
}
