---
layout: default
title: Sobre
---

<!-- About 1 - Bootstrap Brain Component -->
<section class="m">
    <div class="container">
        <div class="row vstack gap-3 align-items-center">
            <div class="col-12 p-2">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Como surgiu o QA Bentevi ? </h2>
                        <p class="lead fs-4 text-secondary mb-3">
                            O blog surgiu durante meus estudos para CTFL, quando um passáro Bem-te-vi frequentemente
                            pousa perto de mim e canta, me relembrando da época em que eu os fotografava e observava no lugar onde
                            cresci. Me lembrando também das minhas motivações e representando a boa sorte ao meu lado.
                        </p>
                        <ul class="list-group list-group-horizontal">
                           
                            <li class="list-group-item">
                                <p class="fw-bold"> {% include svg/chart-pie.svg %} Difundir a cultura de Qualidade</p>
                                <p class="text-secondary">
                                    Assim como o bem-te-vi se encontra em quase todo o continente americano, devemos nos
                                    encontrar em todos os territórios organizacionais e de desenvolvimento de software,
                                    difundindo a cultura de qualidade dentro deles.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="fw-bold"> {% include svg/message.svg %} Comunicação</p>
                                <p class="text-secondary">
                                    A boa prática da comunicação é indispensável, ainda mais para os portadores das más
                                    notícias (Testadores), desta forma devemos buscar assim como o bem-te-vi,
                                    que usa o canto para isso, uma comunicação amigável e clara.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="fw-bold">{% include svg/transform.svg %} Ser Adaptável</p>
                                <p class="text-secondary">
                                    Nós dentro da Garantia de Qualidade devemos buscar nos adaptar diantes das condições
                                    que nos são apresentadas,sejam elas adversar ou não, 
                                    seguindo exemplo do bem-te-vi que se adapta tanto dentro
                                    do caos da cidade quanto na tranquilidade da floresta.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h2 class="mb-3">Sobre mim </h2>
                            <p class="lead fs-4 text-secondary mb-3">
                                Tocantinense pé rachado com paixão por tecnologia. Comecei na área de T.I. atuando como Desenvolvedora,
                                mas logo me apaixonei pela área de Qualidade, desde então busco aperfeiçoar 
                                meus conhecimentos na área. 
                                Foco em :
                                - Github - linkedin e - e-mail
                            </p>

                            <div class="container overflow-hidden text-center">
                                <div class="row gx-5">
                                  <div class="col">
                                   <div class="p-3 fw-bold"> {% include svg/bug-off.svg %} Garantia de Qualidade e Testes Manuais</div>
                                  </div>
                                  <div class="col">
                                    <div class="p-3 fw-bold"> {% include svg/automation.svg %} Automação de Testes</div>
                                  </div>
                                </div>
                              </div>

                              <ul class="justify-content-center border-bottom mb-3">
                                {% for contato in site.data.contatos reversed %}
                
                                <li class="item">
                                    <a href="{{contato.link}}" class="nav-link px-2 text-muted">
                                        {% include {{ contato.svgPath }} %}
                                    </a>
                                </li>
                                
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
</section>