---
layout: default
title: Sobre
<!-- TODO: ADICIONAR PERMALINK DO CONFIG YML -->
---

<!-- About 1 - Bootstrap Brain Component -->
<section class="m">
    <div class="container">
        <div class="row vstack gap-3 align-items-center">
            <div class="col-12 p-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Como surgiu o QA Bentevi ? </h2>

                        <p class="lead fs-4 text-secondary mb-3">
                            O blog surgiu durante meus estudos para CTFL, quando um passáro Bem-te-vi
                            pousa perto de mim e canta frequentemente, me lembrando da época em que eu os observava no
                            lugar onde cresci e das
                            minhas motivações.
                        </p>
                        <p> Objetivos: </p>
                        <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
                            <div class="col d-flex align-items-start">
                                <div
                                    class="icon-square  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                    {% include svg/user-group.svg %}
                                </div>
                                <div>
                                    <h3 class="fs-2">Difundir a cultura </h3>
                                    <p class="text-secondary"> Assim como o bem-te-vi se encontra em quase todo o
                                        continente americano, a cultura da qualidade deve
                                        se
                                        encontrar em todos os territórios organizacionais e de desenvolvimento de
                                        software,
                                        e nós profissionais devemos difundir a cultura de qualidade dentro deles.</p>

                                </div>
                            </div>
                            <div class="col d-flex align-items-start">
                                <div
                                    class="icon-square  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                    {% include svg/message.svg %}
                                </div>
                                <div>
                                    <h3 class="fs-2">Comunicação</h3>
                                    <p class="text-secondary"> A boa prática da comunicação é indispensável, ainda mais
                                        para os portadores das
                                        más
                                        notícias (Tester), desta forma devemos buscar assim como o bem-te-vi,
                                        que usa o canto para isso, uma comunicação amigável e clara.</p>

                                </div>
                            </div>
                            <div class="col d-flex align-items-start">
                                <div
                                    class="icon-square  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                    {% include svg/transform.svg %}
                                </div>
                                <div>
                                    <h3 class="fs-2">Ser Adaptável</h3>
                                    <p class="text-secondary"> Nós dentro da Garantia de Qualidade devemos buscar nos
                                        adaptar diantes das
                                        condições
                                        que nos são apresentadas, sejam elas adversar ou não,
                                        seguindo o exemplo do bem-te-vi que se adapta tanto dentro
                                        do caos da cidade quanto na tranquilidade da floresta.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-11">
                            <h2 class="mb-3">Sobre mim </h2>
                            <p class="lead fs-4 text-secondary mb-3">
                                Tocantinense pé rachado com paixão por tecnologia, analisar as coisas da vida,
                                o porque de ser como são e buscando constante melhoria pessoal, interpessoal e
                                profissional.
                            </p>
                            <p class="lead fs-4 text-secondary mb-3">
                                Comecei na área de T.I. atuando como
                                desenvolvedora, o que me abriu as portas da compreensão em relação ao desenvolvimento de
                                software e permite me
                                relacionar
                                muito bem com a equipe de desenvolvimento.
                            </p>
                            <p class="lead fs-4 text-secondary mb-3">
                                Logo conheci a automação de testes e a área de Qualidade na qual me apaixonei, pois
                                envolve ir
                                além dos conhecimentos técnicos, é compreender o projeto como um todo, suas regras de
                                negócio, seus
                                stakeholders, a equipe e proporcionar entregas de maior qualidade.
                                Gosto da pluralidade que ela me proporciona !!
                            </p>

                            <p>Foco em: </p>

                            <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">

                                <div class="col d-flex align-items-start">
                                    <div
                                        class="icon-square  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        {% include svg/chart-pie.svg %}
                                    </div>
                                    <div>
                                        <h3 class="fs-2">Garantia de Qualidade (QA).</h3>
                                        <p class="text-secondary">Visando sempre a melhoria contínua dos processos de
                                            desenvolvimento e
                                            testes. </p>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-start">
                                    <div
                                        class="icon-square  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        {% include svg/bug-off.svg %}
                                    </div>
                                    <div>
                                        <h3 class="fs-2">Testes Manuais.</h3>
                                        <p class="text-secondary">Utilizando diferentes técnicas e realizando diferentes
                                            atividades
                                            de acordo com o nível de teste e tipo de teste mais apropriado ao artefato
                                            avaliado, dando ênfase na verificação e validação.
                                        </p>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-start">
                                    <div
                                        class="icon-square  d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                                        {% include svg/automation.svg %}
                                    </div>
                                    <div>
                                        <h3 class="fs-2">Testes Automatizados.</h3>
                                        <p class="text-secondary">Automatizando os principais casos de teste com
                                            ferramentas de linguagem JavaScript e TypeScript,
                                            como o Cypress.io. </p>
                                    </div>
                                </div>
                            </div>

                            <p>Conheça mais sobre mim: </p>

                            <div class=" container justify-content-center">

                                <ul class="nav justify-content-center">
                                    {% for contato in site.data.contatos reversed %}

                                    <li class="nav-item">
                                        <a href="{{contato.link}}" class="nav-link px-2 text-muted">
                                            {% include {{ contato.svgPath }} %} - {{ contato.name }}
                                        </a>
                                    </li>

                                    {% endfor %}
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
</section>