---
layout: CTFL-resumo
author: Ana Carolina Rodrigues Rocha
title: Fundamentos do Teste
capitulo: 1
indice: 1
---

<p>
  Objetivos:
<ul>
  <li>
    Aprender os princípios básicos dos testes, motivos pelos quais os testes são necessários e quais os objetivos do
    teste.
  </li>
  <li>
    Compreender o processo de teste, as principais atividades de teste e o testware.
  </li>
  <li>
    Habilidades essenciais para realização de testes.
  </li>
</ul>
</p>

{% assign capitulo = site.ctfl_resumo | sort: "order" | where: "capitulo", page.capitulo %}

{% for item in capitulo %}
{% include mountAccordion.html item=item %}
{% endfor %}