---
layout: CTFL-resumo
author: Ana Carolina Rodrigues Rocha
title: Testes ao longo do Ciclo de Vida de Desenvolvimento de Software
capitulo: 2
indice: 2
---

<p>
    <b>Objetivos:</b>
<ul>
    <li>Aprender como os testes são incorporados a diferentes abordagens de desenvolvimento.</li>
    <li>Aprender os conceitos de abordagens de teste primeiro, como do DevOps.</li>
    <li>Aprender sobre os diferentes níveis de teste, tipos de teste e testes de manutenção.</li>
</ul>
</p>

{% assign capitulo = site.ctfl_resumo | sort: "order" | where: "capitulo", page.capitulo %}

{% for item in capitulo %}
{% include mountAccordion.html item=item %}
{% endfor %}