---
layout: default

---
<!-- TODO: INCREMENTAR MAIS ESSE TÍTULO -->
<h1> {{ page.indice }} - {{ page.title }}</h1>
<p>{{ page.date | date: "%d/%m/%y" }} - {{ page.author }}</p>
<p> Resumo do Syllabus 4.0 para Certified Tester Foundation Level - CTFL </p>

<p>
    É muito importante que você veja o significado linkado nas palavras-chave descritas, pois serão utilizadas durante
    todo o syllabus.
    <br>
    Você poderá revisar este conteúdo com base nos flashcards que criei no <a
        href="https://www.brainscape.com/p/61TQ1-LH-D8PF9">Brainscape</a>.
</p>


{{content}}