<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="https://feroline.github.io/feroline.qa-bentevi/assets/css/bootstrap.min.css"  />
	<link rel="stylesheet" href="https://feroline.github.io/feroline.qa-bentevi/assets/css/custom.css"  />
</head>

<body>
	<div class="conteudo">
		{% include navbar.html %}

		<main>
			<div class="container p-4 ">
				{{content}}
			</div>
		</main>
	
		{% include rodape.html %}
	</div>
	

	<script src="https://feroline.github.io/feroline.qa-bentevi/assets/js/jquery-ui.min.js"></script>
	<script src="https://feroline.github.io/feroline.qa-bentevi/assets/js/bootstrap.bundle.min.js"></script>
	<script src="https://feroline.github.io/feroline.qa-bentevi/assets/js/custom.js"></script>

	

</body>

</html>