<!DOCTYPE html>
<!-- TODO: DEIXAR A PESSOA SELECIONAR QUAL TEMA ELA QUER: LIGHT OU DARK -->
<html data-bs-theme="light">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
	<meta name="title" content="Quality Assurance and Tester">
	<meta name="description"
		content="Conteúdo sobre Qualidade de software, automação de testes,  teste de software e Certified Tester Foundation Level">
	<meta name="keywords"
		content="resumo ctfl bstqb istqb certified tester foundation level syllabus 4 test teste automação automacao automation QA quality assurance">

	<title>{{ page.title }}</title>

	<link rel="shortcut icon" href="{{ '/assets/images/logo-favico.ico' | relative_url }}" />
	<link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/assets/css/custom.css' | relative_url }}" rel="stylesheet">

</head>

<body>
	<div class="conteudo">
		{% include navbar.html %}

		<main>
			<div class="container p-4 ">
				{{content}}
			</div>
		</main>

		{% include rodape.html %}
	</div>

	<script src="{{'/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
	<script src="{{'/assets/js/custom.js' | relative_url}}"></script>

</body>

</html>